@import '../../scss/index';

.similar{
    padding: 0 30px;

    h3{
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 1.5rem;
    }

    @include mobile{
        padding: 0 10px;
    }
}